
<style>
    
    .about-store a {
      background: linear-gradient(to right, #e30047, #e30047);
      padding: 10px 20px;
      margin: 5px 5px 5px 5px;
      border-radius: 5px;
    }

    .about-store a:hover {
      background-image: linear-gradient(to right, #b51447, #c5164e);
      box-shadow: 0 4px 6px rgba(30, 114, 87, 0.1);
    }

    .about-store a i {
      color: #c9f4e4;
    }

    @media (max-width: 768px) {
      .swiper-slide {
        width: 50%;
        /* Display two slides per row */
      }
    }

    /* For larger screens, display more slides */
    @media (min-width: 1024px) {
      .swiper-slide {
        width: 25%;
        /* Display four slides per row */
      }
    }

    .about-store {
       
       background-image: linear-gradient(to right, #1a1c1b, #171a19);
    }

    .about-store h2 {
      color: white;
      text-align: center;
    }
</style>
<div class="about-store p-8 ">
    <h2 class=" text-lg">Samuyo Store.com is a reliable and professional online shopping destination featuring a wide
      range of popular products. Dedicated to ensuring authenticity and eliminating counterfeit items, Samuyo Store
      highlights premium shopping options with a focus on high-quality products. Our recommendations reflect products
      we genuinely appreciate! Please be aware that by using the links shared on this platform, we may earn a
      percentage of sales or other benefits. We sincerely appreciate your support when you choose to use our suggested
      links!"</h2>
    <div class="social-icons mt-5 flex justify-center align-middle">
      <a href="#">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </div>