<div class="hero">
  <section class="dark:bg-gray-900">
    <div
      class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="
          clip-path: polygon(
            74.8% 41.9%,
            97.2% 73.2%,
            100% 34.9%,
            92.5% 0.4%,
            87.5% 0%,
            75% 28.6%,
            58.5% 54.6%,
            50.1% 56.8%,
            46.9% 44%,
            48.3% 17.4%,
            24.7% 53.9%,
            0% 27.9%,
            11.9% 74.2%,
            24.9% 54.1%,
            68.6% 100%,
            74.8% 41.9%
          );
        "
      ></div>
    </div>
    <div
      class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
    >
      <div class="flex flex-col justify-center">
        <h1
          class="store-title mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl dark:text-white"
        >
          Distinctive Product Beyond Comparison.
        </h1>
       
      
        <div id="myTypewriterText"
        class="mb-8 text-lg font-norma text-white"></div>


        <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
          <a
            href="#"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg"
          >
            Buy from our store
            <svg
              class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>
      </div>
      <div>
        <% products.slice(0, 1).forEach(product=> { %> <% let Best_Selling_Product=product.product_option %>
          <% if (Best_Selling_Product==='Best selling product' ) { %>
            <div class="video-background" style="
            background-color: transparent;
            width: 100%;
            height: 100 !important;
            z-index: 2;
            pointer-events: none;
            position: relative;
        ">
            <iframe id="videoFrame"   class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96"
            src="<%= product.video %>?autoplay=1&mute=1" title="<%=product.title%>"
            frame="0"]
            allow=" autoplay;accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <script>
          
              document.addEventListener("DOMContentLoaded", function () {
                var index = 9;
                var shopping_store_description = '<%=product.description%>';
                var typing_speed = 50;
                var max_chars = 250; // Maximum number of characters to display
                var textElement = document.getElementById("myTypewriterText");
            
                // Truncate the description if it exceeds the maximum character limit
                if (shopping_store_description.length > max_chars) {
                    shopping_store_description = shopping_store_description.slice(0, max_chars) + "...";
                }
            
                function typewriterEffect() {
                    if (index < shopping_store_description.length) {
                        textElement.textContent += shopping_store_description.charAt(index);
                        index++;
                        setTimeout(typewriterEffect, typing_speed);
                    }
                }
            
                typewriterEffect();
            });
            
                    </script>
        
        <%}%>
        <%})%>
        
      </div>
    </div>
  </section>
</div>
